<div class="alert alert-danger">{{trans 'Are you sure you want to delete this object?'}}</div>

<div class="text-center">
	<button class="btn btn-primary btn-lg" id="confirm_yes">{{trans 'Yes'}}</button> <button class="btn btn-default btn-lg" id="confirm_no">{{trans 'No'}}</button>
</div>